@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ShopBridge Headquarters<br />
    Electronic City, Bangalore-560105<br />
    <abbr title="Phone">P:</abbr>
    +91 -9999900000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@shopbridge.com">Support@shopbridge.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@shopbridge.com">Marketing@shopbridge.com</a>
</address>